
@{
    ViewData["Title"] = "ImpossivelEntrar";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Impossivel realizar essa ação! Por favor, tente novamente</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
    </div>

