@{
    Layout = "_LayoutDashboard";
    ViewData["Title"] = "Home Page";
}
@section Scripts{
    <script src="~/js/View/Home/Index.js"></script>
}
<div class="text-center">
    <h1 class="display-4">Bem-Vindo ao FLN Control</h1>
</div>